<div class="modal fade idx-10000" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-update" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="updateModalLabel">Nuevo Registro</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<h6 class="modal-title text-gray-500" id="bodyLabel">Introduzca los datos del nuevo registro o presione 'Cancelar' para salir</h6>
				<div class="md-form mb-5">
					<label data-error="wrong" data-success="right" for="descCreate">Descripción:</label>
					<input type="text" class="form-control validate" id="descCreate">
					<label data-error="wrong" data-success="right" for="typeCreate">Tipo:</label>
    				<select id="typeCreate" class="form-control" data-live-search="true">
  						<option value="cal">Calefacción</option>
  						<option value="comp">Cómputo</option>
  						<option value="tools">Herramientas</option>
						<option value="lab">Laboratorio</option>
						<option value="ofc">Oficina</option>
						<option value="pry">Proyección</option>
						<option value="net">Redes</option>
						<option value="sec">Seguridad</option>
					</select>
                    <label data-error="wrong" data-success="right" for="brandCreate">Marca:</label>
					<input type="text" class="form-control validate" id="brandCreate">
                    <label data-error="wrong" data-success="right" for="modelCreate">Modelo:</label>
					<input type="text" class="form-control validate" id="modelCreate">
                    <label data-error="wrong" data-success="right" for="seriesCreate">Serie:</label>
					<input type="text" class="form-control validate" id="seriesCreate">
                    <label data-error="wrong" data-success="right" for="uazCreate">UAZ:</label>
					<input type="text" class="form-control validate" id="uazCreate">
                    <label data-error="wrong" data-success="right" for="guardCreate">Resgurado:</label>
					<input type="text" class="form-control validate" id="guardCreate">
                    <label data-error="wrong" data-success="right" for="locationCreate">Ubicación:</label>
					<input type="text" class="form-control validate" id="locationCreate">
                    <label data-error="wrong" data-success="right" for="detailsCreate">Detalles:</label>
					<input type="text" class="form-control validate" id="detailsCreate">
                    <label data-error="wrong" data-success="right" for="fundingCreate">Financiamiento:</label>
					<input type="text" class="form-control validate" id="fundingCreate">
					<label data-error="wrong" data-success="right" for="rfidCreate">RFID:</label>
					<input type="text" class="form-control validate" id="rfidCreate">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
				<button id="createBtn" type="button" class="btn btn-success">Guardar</button>
			</div>
		</div>
	</div>
</div>