<div class="modal fade idx-10000" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-update" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="updateModalLabel">Actualizar datos</h5>
				<button id="closeBtn" class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<h6 class="modal-title text-gray-500" id="bodyLabel">Introduzca los nuevos datos o presione 'Cancelar' para salir</h6>
				<div class="md-form mb-5">
					<label data-error="wrong" data-success="right" for="descUpdate">Descripción:</label>
					<input type="text" class="form-control validate" id="descUpdate">
					<label data-error="wrong" data-success="right" for="typeUpdate">Tipo:</label>
					<select id="typeUpdate" class="form-control" data-live-search="true">
  						<option value="cal">Calefacción</option>
  						<option value="comp">Cómputo</option>
  						<option value="tools">Herramientas</option>
						<option value="lab">Laboratorio</option>
						<option value="ofc">Oficina</option>
						<option value="pry">Proyección</option>
						<option value="net">Redes</option>
						<option value="sec">Seguridad</option>
					</select>
                    <label data-error="wrong" data-success="right" for="brandUpdate">Marca:</label>
					<input type="text" class="form-control validate" id="brandUpdate">
                    <label data-error="wrong" data-success="right" for="modelUpdate">Modelo:</label>
					<input type="text" class="form-control validate" id="modelUpdate">
                    <label data-error="wrong" data-success="right" for="seriesUpdate">Serie:</label>
					<input type="text" class="form-control validate" id="seriesUpdate">
                    <label data-error="wrong" data-success="right" for="uazUpdate">UAZ:</label>
					<input type="text" class="form-control validate" id="uazUpdate">
                    <label data-error="wrong" data-success="right" for="guardUpdate">Resgurado:</label>
					<input type="text" class="form-control validate" id="guardUpdate">
                    <label data-error="wrong" data-success="right" for="locationUpdate">Ubicación:</label>
					<input type="text" class="form-control validate" id="locationUpdate">
                    <label data-error="wrong" data-success="right" for="detailsUpdate">Detalles:</label>
					<input type="text" class="form-control validate" id="detailsUpdate">
                    <label data-error="wrong" data-success="right" for="fundingUpdate">Financiamiento:</label>
					<input type="text" class="form-control validate" id="fundingUpdate">
                    <label data-error="wrong" data-success="right" for="rfidUpdate">RFID:</label>
					<input type="text" class="form-control validate" id="rfidUpdate">
				</div>
			</div>
			<div class="modal-footer">
				<button id="cancelBtn" class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
				<button id="submitBtn" type="button" class="btn btn-primary">Actualizar</button>
			</div>
		</div>
	</div>
</div>
