<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <!-- Custom CSS -->
	    <link rel="stylesheet" href="/css/main.css">
        <!-- FontAwesome-->
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Icon -->
        <link rel="icon" href="/img/icon.png">
        
        <title>Inventario CIDTE</title>
    </head>
    
    <body id="page-top">
        <!-- Page wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            {{#if user}}
            <ul id="accordionSidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
                <!-- Sidebar - brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/inventario">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-clipboard-check">

                        </i>
                    </div>
                    <div class="sidebar-brand-text mx-3">
                        CIDventario
                        <sub>V0.1</sub>
                    </div>
                </a>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Calefacción -->
                <li class="nav-item">
                    <a class="nav-link" href="/inventario/calefaccion">
                        <i class="fas fa-fw fa-temperature-high">

                        </i>
                        <span>Calefacción</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Computación -->
                <li class="nav-item">
                    <a class="nav-link" href="/inventario/computo">
                        <i class="fas fa-fw fa-laptop">

                        </i>
                        <span>Cómputo</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Herramienta -->
                <li class="nav-item">
                    <a class="nav-link" href="/inventario/tools">
                        <i class="fas fa-fw fa-toolbox">

                        </i>
                        <span>Herramientas</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Equipo Lab -->
                <li class="nav-item">
                    <a class="nav-link" href="/inventario/laboratorio">
                        <i class="fas fa-fw fa-flask">

                        </i>
                        <span>Laboratorio</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Oficina -->
                <li class="nav-item">
                    <a class="nav-link" href="/inventario/oficina">
                        <i class="fas fa-fw fa-building">

                        </i>
                        <span>Oficina</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Proyección -->
                <li class="nav-item">
                    <a class="nav-link" href="/inventario/proyeccion">
                        <i class="fas fa-fw fa-video">

                        </i>
                        <span>Proyección</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Red -->
                <li class="nav-item">
                    <a class="nav-link" href="/inventario/redes">
                        <i class="fas fa-fw fa-network-wired">

                        </i>
                        <span>Redes</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Seguridad -->
                <li class="nav-item">
                    <a class="nav-link" href="/inventario/seguridad">
                        <i class="fas fa-fw fa-shield-alt">

                        </i>
                        <span>Seguridad</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Tarjetas -->
                <li class="nav-item">
                    <a class="nav-link" href="/inventario/tarjetas">
                        <i class="fas fa-fw fa-object-ungroup">

                        </i>
                        <span>Tarjetas</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
            </ul>
            <!-- Content Wrapper -->
            <div class="d-flex flex-column" id="content-wrapper">
                <!-- Main content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input class="form-control bg-light border-0 small" type="text" placeholder="Buscar..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm">

                                        </i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <!-- Divider -->
                            <div class="topbar-divider d-none d-sm-block"></div>
                            <!-- Nav Item - User info -->
                            <li class="nav-item dropdown no-arrow">
                                <a id="userDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-lg-inline text-gray-600 small">Usuario</span>
                                    <img class="img-profile rounded-circle" src="https://bacngoctuan.com/template/default/images/user-icon.png">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="/users/logout" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar Sesión
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Topbar -->

                    {{/if}}
                    <!-- Begin page content -->
                    <div class="container-fluid">
                        <!-- Content hbs -->
                        {{{body}}}
                    </div>
                    {{> logoutModal}}
                </div>
            </div>
        </div>
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- DataTables Script -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<!-- Bootstrap Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </body>
</html>