<!-- Page Heading -->
<h1 class="h3 text-gray-800">Index</h1>
<!-- Welcome page -->
<div class="card shadow mb-4">
    <!-- Card Header -->
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Bienvenido</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="bgimg">
            <div class="middle">
                <h1 id="quoteR">[Frase motivadora para el admin]</h1>
                <hr>
                <p id="dateOfDay">[Fecha]</p>
                <p id="timeOfDay">[Hora del día]</p>
            </div>
        </div>
    </div>
</div>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<!-- Date&Time formatting -->
<script src="/js/getNow.js"></script>
<!-- Quoteoftheday -->
<script src="/js/quote.js"></script>